@import url(fonts.css);

*{
    font-family: 'Kollektif', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*Nav*/
main{
    background-image: url(img/img4.jpg);
    background-repeat: no-repeat;
    background-color: #4c007d; 
    
}
.header{
    background: linear-gradient(0deg,rgba(0,0,0,0),rgba(0,0,0,0));
    display: flex;
    justify-content:start;
    align-items: center;
    height: 100px;
    padding: 5px ;

}
.header .logo{
    cursor: pointer;
}
.header .logo img{
    height: 90px;
    width: auto;
    transition: all 0.3s;
}
.header .logo img:hover{
    transform: scale(1.2);
}
/*Fin Nav*/
.header .nav-links{
    list-style: none;
}
.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}
.header .nav-links li:hover{
    transform: scale(1.3);
    
}
.header .nav-links a{
    font-size: 30px;
    color: white;
    text-decoration: none;
}
.header .nav-links li a:hover{
    color: #49bfbf;
}

/*Seccion de los logos*/
.contenedor-9{
    background-color: #352473;
    width: 100%;
    height: 50vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.footer-text{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box1, .box2, .box3{
width: 20%;
height: 50%;
padding-left: 25px;

}
.box4{
width: 60%;
height: 50%;
display: flex;
flex-direction: column;
padding-left: 25px;
}
.box1 h3,.box2 h3,.box3 h3,.box4 h3{
    font-size: 25px;
    margin: 25px 0;
}
.box1 p{
    font-size: 18px;
    margin-bottom: 10px;
}
.box2 a, .box3 a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
}
.rs{
    width: 100%;
    height: 40px;
}
.rs img{
    margin-right: 5px;
    align-items: center;
}
.pie{
    background-color: #352473;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #352473;
    text-align: center;
}
i{
    text-align: center;
    font-size: 25px;
    color:black ;
    margin: 20px;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0px 5px 10px rgb(0,0,0,.35);
    transition: .3s ease;
}
.fa-instagram{
    height: 40px;
    width: 40px;
}
.fa-instagram:hover{
    background-color: #FF3E00;
    color: white;
    box-shadow: 0 0 15px #FF3E00,
                0 0 45px #FF3E00,
                0 0 75px #FF3E00,
                0 0 115px #FF3E00;

}
.fa-facebook{
    height: 40px;
    width: 40px;

}
.fa-facebook:hover{
    background-color: #1DA1F2;
    color: white;
    box-shadow: 0 0 15px #1DA1F2,
                0 0 45px #1DA1F2,
                0 0 75px #1DA1F2,
                0 0 115px #1DA1F2;

}
/*Fin de la seccion de logos*/
/*Inicio */
.contenedor1{
color: white;
width: 60%;
height: 30vh;
display: flex;
flex-direction:column;
padding-left: 20px;
align-items: end;
}
.contenedor1 h1{
    font-size: 60px;
}
.contenedor2{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 20px;
    height: 40vh;
    padding-top: 30px;
}
.box2i{
    color: white;
    display: flex;
    width: 60%;
    height: 20vh;
    flex-direction: column;
    align-items: end;
    padding-right: 20px;

}
.box2i h2{
text-align: start;
font-size: 60px;
padding-top: 10px;
}
.box2i h3{
    text-align: end;
    font-size: 25px;
}
.contenedor3{
color: white;
width: 100%;
height: 30vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 90px;
padding-bottom: 60px;
}
.cont3div{
 width: 70%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}
.cont3div h2{
 font-size: 45px;
 margin-bottom: 10px;
}
.contenedor3-form{
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}
.input-email{
    width: 40%;
    height: 45px;
    border-radius: 20px;
    color: black;
    font-size: 17px;
    margin-right: 5px;

}
.submit{
    width: 25%;
    height: 45px;
    border-radius: 20px;
    background-color: #49bfbf;
    color: white;
    font-size: 25px;
    font-family:  sans-serif;
}
/*Fin de inicio*/
/*Blog*/
.blogm{
    background-color: #2196f3;
    background-image: none;
}
.blogcont1, .blogcont2{
background-color:#ffff6a;
display: flex;
flex-direction: row;
width: 80%;
height: 60vh;
align-items: center;
align-self: center;
justify-content: center;
margin: auto;
}
.blogbox1 img{
width: 300px;
height: 300px;
padding: 20px;
}
.blogbox2{
display: flex;
flex-direction: column;
width: 60%;
}
.blogbox2 h2{
color: black;
font-size: 40px;
text-align:initial;
padding-bottom: 10px;
}
.blogbox2 p{
font-size: 25px;
text-align: justify
}
.blogbox3{
width: 10%;
display: flex;
align-self: flex-end;
padding-bottom: 20px;
}
.masv{
border-radius: 100px;
background-color:#b3c3f2;

color:black;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 20px;
width: 100%;
height: 50px;


}
.blogcont3{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    width: 80%;
    height: 15vh;
    align-content: center;
    margin: 20px 10%;
}
.Volver {
    color: black;
    padding:30px;
    border-radius: 100px;
    margin-left: 30px;
    width: 150px;
    height: 50px;
    margin-right: 50px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    display: flex;
    align-items: center;

}
.BotonN{
display: flex;
flex-direction: row;
align-items: center;
align-self: center;

width: 50%;

}
.b1, .b2, .b3{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    margin: 10px ;
    width: 40px;
    height: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    align-self: center;
}
.b1:hover, .b2:hover,.b3:hover{
    background-color: #352473;
    color: white;
}
.b1{
   margin-left: 30%; 
   
}
.b3{
    margin-right: 30%;
}
.Next{
    display: flex;
    align-self: center;
    align-items: center;
    align-content: center;
    border-radius: 100px;
    color: black;
    width: 150px;
    height: 50px;
    padding: 30px;
    margin-left: 20px;
    margin-right: 30px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.Next:hover,.Volver:hover{
    background-color: #352473;
    color: white;
}
/*Fin de Blog*/
/*Conocenos*/
.conocenoscont{
    display: flex;
    flex-direction: column;
    
}
.conocenoscont h1{
    color: white;
    font-size: 50px;
    margin-left: 60px;
}
.ccont1, .ccont2 {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 30px 60px;
    width: 70%;
    height: 10vh;
}
.ccont1 h2, .ccont2 h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.ccont1 p, .ccont2 p{
    font-size: 20px;
}
.socios{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.socios h2{
    color: white;
    font-size: 60px;
    margin-bottom: 10px;
}
.ccont3{
 display: flex;
 flex-direction: row;
 align-items: center;
 align-self: center;
 width: 100%;
 margin-bottom: 40px;
}
.cbox1, .cbox2, .cbox3{

    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 30%;
    height: 70vh;
    margin: auto;
    color: white;
}
.cbox1 h2, .cbox2 h2, .cbox3 h2{
    font-size: 40px;
}
.cbox1 p, .cbox2 p, .cbox3 p{
    font-size: 20px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.cbox1div img{
    border-radius: 1000px;
}

/*Fin de Conocenos*/
/*Galeria*/
.gal{
    background-color: #b3c3f2;
    background-image: none;
}
.galtitulos h1{
    color: #352473;
    font-size: 60px;
    margin-left: 40px;
    margin-top: 40px;
}
.slider{
    width: 100%;
    height: 600px;
    overflow: hidden;

}
.slider ul{
    display: flex;
    animation: cambio 20s infinite
    alternate linear;
    width: 400%;
}
.slider li{
    width: 100%;
    list-style: none;

}
.slider img{
    width: 100%;
    height: 100%;
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
/*Fin de Galeria*/
/*Aviso de Privacidad*/
.header-priv{
    display: flex;
    justify-content:start;
    align-items: center;
    height: 100px;
    padding: 5px ;
    background-color: #352473;

}
.header-priv .logo{
    cursor: pointer;
}
.header-priv .logo img{
    height: 90px;
    width: auto;
    transition: all 0.3s;
}
.header-priv .logo img:hover{
    transform: scale(1.2);
}
.header-priv .nav-links{
    list-style: none;
}
.header-priv .nav-links li{
    display: inline-block;
    padding: 0 20px;
}
.header-priv .nav-links li:hover{
    transform: scale(1.3);
    
}
.header-priv .nav-links a{
    font-size: 30px;
    color: white;
    text-decoration: none;
}
.header-priv .nav-links li a:hover{
    color: #49bfbf;
}

.contenedor-priv{
background-color: white;
width: 100%;
height: 50vh;
padding: 50px;
}
.contenedor-tery{
    background-color: white;
    width: 100%;
    height: 70vh;
    padding: 50px;
    overflow: scroll;
    }
.priv1{
    display: flex;
    flex-direction: column;
    
}
.priv1 h2{
    color: #4c007d;
    font-size: 50px;
    
}
.priv2{
    padding: 10px;
}
.priv2 p{
    font-size: 17px;
    padding-bottom: 10px;
}
/*Fin de Aviso de Privacidad*/