Container{
    border: 1px solid red;
    margin-top: 10rem;
    height: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

Item{
    background-color: green;
    color: white;
    width: 30rem;
    height: 15rem;
    font-size: large;
    text-align: center;
}